@keyframes shine {
  0% {
    background-position: bottom right;
  }
  100% {
    background-position: top left;
  }
}

.button:hover {
  background: linear-gradient(
    135deg,
    var(--color-highlight) 33%,
    rgba(255, 255, 255, 0.4) 50%,
    var(--color-highlight) 66%
  ) #fff;

  background-size: 300% 300%;
  animation: shine 800ms;
}
