@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-black: #000;
  --color-text: #fff;
  --color-text-subtle: #dedede;
  --color-text-subtle-2: #efefef;
  --color-slate: #1d1e22;
  --color-matte: #393f4d;
  --color-highlight: #feda6a;
}

:root {
  --color-*: initial;
  --color-black: #000;
  --color-text: #fff;
  --color-text-subtle: #dedede;
  --color-text-subtle-2: #efefef;
  --color-slate: #1d1e22;
  --color-matte: #393f4d;
  --color-highlight: #feda6a;

  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

body {
  /* Courtesy of https://www.magicpattern.design/tools/css-backgrounds */
  opacity: 1;
  background-image:  radial-gradient(#393f4d 0.9px, transparent 0.9px), radial-gradient(#777 0.9px, #1d1e22 0.9px);
  background-size: 36px 36px;
  background-position: 0 0,18px 18px;
}

