@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-text: #fff;
  --color-text-subtle: #ccc;
  --color-slate: #1d1e22;
  --color-matte: #393f4d;
  --color-highlight: #feda6a;
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

body {
  background-color: var(--color-slate);
}

